<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Monster Slayer</h1>
    </header>
    <div id="game">
      <section id="monster" class="container">
        <h2>Monster Health</h2>
        <div class="healthbar">
          <div class="healthbar__value" v-bind:style="{width: monsterHealth + '%'}"></div>
          {{monsterHealth}}
        </div>
      </section>
      <section id="player" class="container">
        <h2>Your Health</h2>
        <div class="healthbar">
          <div class="healthbar__value" v-bind:style="{width: playerHealth + '%'}"></div>
          {{playerHealth}}
        </div> 
      </section>
      <section> 
        <span class="round">Round: {{round}}</span>
      </section>
      <section id="gameOver" v-if="gameOver">
        <h1>GAME OVER</h1>
        <h3 v-if="draw">Draw!</h3>
        <h3 v-else-if="monsterWon">Monster won!</h3>  
        <h3 v-else>Player won!</h3>
        <button v-on:click="playAgain()">Play again</button>
      </section>
      <section id="controls" v-else>
        <button v-on:click="attackMonster()">ATTACK</button>
        <button v-on:click="specialAttackMonster()" v-bind:disabled="!canUseSpecialAttack">SPECIAL ATTACK</button>
        <button v-on:click="healPlayer()">HEAL</button>
        <button v-on:click="surrender()">SURRENDER</button>
      </section>
      <section id="log" class="container">
        <h2>Battle Log</h2>
        <ul></ul>
      </section>
    </div>
  </body>
</html>
